// @import url("/BebasNeue-Book.ttf");

@font-face {
    font-family: "Bebas";
    src: url(/BebasNeue-Book.ttf);
}

body {
    font-family: "Bebas", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 90%;
        text-align: center;
        padding: 20px 0;

        header {
            h1 {
                font-weight: 200;
                font-size: 1.8rem;
                margin: 0;
            }

            h2 {
                font-weight: 600;
                font-size: 1.8rem;
                margin: 0;
            }

            p {
                font-weight: 200;
                font-size: 1.2rem;
            }
        }

        main {
            .cards {
                text-align: left;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 10px;
                padding: 30px 30px 100px 30px;
                margin: 20px 0;
                position: relative;

                img {
                    float: right;
                }
            }

            #supervisor {
                border-top: 10px solid hsl(0, 78%, 62%);
            }
            #teamBuilder {
                border-top: 10px solid hsl(180, 62%, 55%);
            }
            #karma {
                border-top: 10px solid hsl(34, 97%, 64%);
            }
            #calculator {
                border-top: 10px solid hsl(212, 86%, 64%);
            }
        }
        @media (min-width: 768px) {
            main {
                display: flex;
                align-items: center;
                justify-content: center;

                .cards {
                    width: 300px;
                    margin: 10px;
                }
            }
        }
    }
}
